/*Responsive Grid Setup*********************************/

*, *:before, *:after {
    box-sizing: border-box;
}

/*Overall grid container*/
.grid {
    width: 100%;
}

/*Single Row in the grid*/
.row {
    margin-bottom: 1em;
}

/*Finds all classes with "-col" in*/
.grid, .row, [class*="-col"] {
    padding: 0;
    margin: 0;
}

/*Clearfix which helps with floats*/
.grid:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

/*Don't need spacing for bottom row*/
.row:last-child {
  margin-bottom: 0;
}

/*Columns code*/
/*12 col grid, 1.5% gutter*/
[class*="-col"] {
  float: left;
  margin-right: 1.5%;
}

[class*="-col"]:last-child {
    margin-right: 0;
}

/*Column values*************************************/
.one-col {
  width: 6.958%;
}

.two-col {
  width: 15.41%;
}

.three-col {
  width: 23.87%;
}

.four-col {
  width: 32.33%;
}

.five-col {
  width: 40.79%;
}

.six-col {
  width: 49.25%;
}

.seven-col {
  width: 57.70%;
}

.eight-col {
  width: 66.16%;
}

.nine-col {
  width: 74.62%;
}

.ten-col {
  width: 83.08%;
}

.eleven-col {
  width: 91.54%;
}

.twelve-col {
  width: 100%;
}

/*Offsets******************************************/
.one-offset {
  margin-left: 8.458%;
}

.two-offset {
  margin-left: 16.91%;
}

.three-offset {
  margin-left: 25.37%;
}

.four-offset {
  margin-left: 33.83%;
}

.five-offset {
  margin-left: 42.29%;
}

.six-offset {
  margin-left: 50.75%;
}

.seven-offset {
  margin-left: 59.20%;
}

.eight-offset {
  margin-left: 67.66%;
}

.nine-offset {
  margin-left: 76.12%;
}

.ten-offset {
  margin-left: 84.58%;
}

.eleven-offset {
  margin-left: 91.54%;
}

/* Grid Code **************************************/
.grid {
    max-width: 1350px;
}

/* rest of grid code goes here... */

/* Coloring Code */
.grid {
    background-color: #999;
}

.row {
    background-color: #9599a5;
}

[class*="-col"] {
    /*background-color: #EEE*/;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*Main Style for responsive blog*****************************/

html{
	/*border: solid blue 1px;*/
	font-size: 16px;
}

body{
	width: 100%;
	font-size: 62.5%; /*1em = 10px*/
	position: relative;
	top: 0;
	left: 0;
}

.grid{
	/*border: solid red 1px;*/
}

ul{
	list-style-type: none;
}

/*TOP****************************************/
header{
	/*border: dashed green 1px;*/
	margin: 0;
	height: 110px;
	background-color: #9599a5;/*Cheap hack to prevent more work*/
	color: white;
	font-family: 'Karla', sans-serif;
}

.fixed_head{
	border: dashed black 1px;
	display: block;
	background-color: rgba(95,118,133,0.8);
	height: 50px;
	position: fixed;
	z-index: 25;
	top: 0;
	left: 0;
	text-transform: uppercase;
}

.home_div{
	height: 100%;
	border: solid red 1px;
	float: left;
	position: relative;
}


#home p{
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 1.75em;
}

#home p:hover{
	color: #fff200;
	cursor: pointer;
}

#home p span{  /*Not sure why have to do this hack to get h larger*/
	font-size: 2.25em;
}

#mobile_menu{
	display: none;
}

.social_ul{
	border: dashed green 1px;
	float: right;
	height: inherit;
	padding: .5%;
}

#share{
	margin-left: 21%;
	color: #ddd;
	font-size: 1.1em
}

.social_ul > li{
	display: inline-block;
	margin-left: 1%;
	right: 0;
	padding: 2% 1.25%;
	font-size: 1.7em;
}

.social_ul > li:hover{
	color: #fff200;
	cursor: pointer;
}

.social_ul > li:last-child{
	margin: 0 6.1%;
	font-style: italic;
}


/***************MIDDLE*****************************/
.main_row{
	position: relative;
}

/*********MAIN ARTICLE HEAD***********/
.main_articleContain{
	border: solid yellow 1px;
	float: right;
	margin: -1.5% 10% 0 3%;
	background-color: #f1f3f2;
}

.article_head{
	/*border: dashed yellow 1px;*/
	background-color: #fff200;
	height: 30px;
	position: relative;
	padding: 1%;
	color: #888;
	font-size: 1.5em;
	font-family: font-family: 'Karla', sans-serif;
	text-transform: uppercase;
}

.left_arrowTop{
	position: absolute;
	top: 3px;
	left: 0;
	font-size: 1.4em;
}

.left_arrowTop:hover{
	cursor: pointer;
}

.right_arrowTop{
	position: absolute;
	top: 3px;
	right: 0;
	font-size: 1.4em;
}

.right_arrowTop:hover{
	cursor: pointer;
}

.page_count{
	text-align: center;
}

/*********MAIN ARTICLE TEXT***********/
.article_text{
	border: orange solid 2px;
	color: #4b4d4c;
	margin-top: 5%;
	font-family: 'Muli', sans-serif;
}

.article_text > h1{
	font-size: 3em;
	line-height: 1.1;
	font-weight: 700;
	margin-bottom: 5%;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.article_text  p{
	font-size: 1.75em;
	margin-bottom: 3.5%;
	display: block;
	font-weight: 300;
	line-height: 1.1;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


.article_img{
	float: right;
	margin: .75em;
	height: 26%;
}

.article_img > img{
	width: 100%;
	background-color: #fff;
	padding:7px;
	border: solid 1px #ddd;
	height: inherit;
}

#img_link{
	font-size: 1.2em;
	line-height: 18px;
	color: #7f74f9;
	font-weight: 700;
}

#img_link:hover{
	text-decoration: underline;
}

/*********ARTICLE FOOTER***********/
.article_footer{
	clear: both;
	height: 35px;
	border-top: solid lightgrey 1px;
	position: relative;
	bottom: 0;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #4c4e4d;;
}

.social_ulBottom{
	/*border: solid black 1px;*/
	margin-top: 7px;
}

.article_footer ul li{
	display: inline-block;
	margin-left: 3%;
	font-size: 1.3em;
}

.article_footer ul li:hover{
	color: #6d98a8;
	cursor: pointer;
}

.left_arrowBottom{
	position: absolute;
	top: 7px;
	left: 15px;
	font-size: 1.5em;
}

.left_arrowBottom:hover{
	cursor: pointer;
}

.right_arrowBottom{
	position: absolute;
	top: 7px;
	right: 15px;
	font-size: 1.5em;
}

.right_arrowBottom:hover{
	cursor: pointer;
}



/*********SIDEBAR CONTENT***************************************/
.sidebar_contain{
	border: solid orange 1px;
	margin: -1.5% 3% 0 3%;
	float: left;
	position: fixed;
	color: #222;;
	height: 286px;
}

/*********SIDEBAR HEAD***********/

.sidebar_head_contain{
	height: 225px;
	width: 100%;
	padding: 10%;
	background-color: #fff200; 
}

.sidebar_head{
	position: relative;
	top: 15%;
}

.sidebar_head h1 {
	font-size: 2.7em;
	font-weight: 700;
}

.article_info{
	margin-top: 6%;
	text-transform: uppercase;
	font-size: 1.1em
}

.article_info p{
	margin-bottom: 3%;
}

.article_info span{
	color: #6d98a8;
}

.article_info span:hover{
	text-decoration: underline;
}

.sidbar_arrowHead{
	width: 100%;
	height: 25px;
	background-color: #222;
	color: #FFF;
	text-align: center;
	padding: 1%;
	font-size: 1.7em;
}

/*********SIDEBAR LIST***********/

.sidebar_list{
	width: 100%;
	height: 286px;
	overflow-y: auto;
	padding: 3.2% 5% 11.8%;
	background-color: #313131;
	color: #666;
	position: relative;
	list-style-type: decimal;
}

.sidebar_list > li {
	color: #aaa;
	padding: 5px 3px;
	font-size: .9em;
	margin: 1em 0 0 1.75em;
	line-height: 1.5em;
	font-size: 1.5em;
}

.sidebar_list li:hover {
	color: #6d98a8;
	cursor: pointer;
}
/*Media Queries**********************************/

/*Columns expand to 100%*/
@media all and (max-width: 768px) {
  [class*="-col"] {
    width: 100%;
    margin-bottom: 1em;
  }

  .row:last-child > [class*="-col"]:last-child {
    margin-bottom: 0;
  }
	
/*Offsets removed*/
[class*="-offset"] {
    margin-left: 0;
  }

/*Remove margins on rows*/
.row {
    margin: 0;
  }
}
